<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HeroesCommandBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="HeroesCommandClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HeroesCommandClient.Properties.Settings>
            <setting name="RCServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RCServerPort" serializeAs="String">
                <value>10002</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>_usermonitor</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>dbwjAHSLXJ!123</value>
            </setting>
            <setting name="EchoServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="EchoServerPort" serializeAs="String">
                <value>8085</value>
            </setting>
            <setting name="EchoServerUse" serializeAs="String">
                <value>True</value>
            </setting>
        </HeroesCommandClient.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
