<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="heroes" type="ServiceCore.Configuration.HeroesSection, ServiceCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="npl.sso">
      <section name="authenticator" type="NPL.SSO.Configuration.AuthenticatorSection, NPL.SSO" />
    </sectionGroup>
    <sectionGroup name="Group.Config">
      <section name="GroupConfiguator" type="Nexon.Com.Group.Game.Wrapper.GroupConfigSection, Nexon.Com.Group.Game.Wrapper"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ServiceCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="UnifiedNetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HeroesServerHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	  <section name="Devcat.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ServiceCore.Properties.Settings.heroesConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=heroes"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.heroesContentsConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=heroesContents"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.heroesLogConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=heroesLog"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.heroesGuildConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=heroesLog"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.NX_GuildMasterConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=heroes"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.NX_GROUP_REPLConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=NX_GROUP_REPL"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.heroesTradeConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=heroesMarketPlace"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.heroesRankConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=heroesRank"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.HeroesTradeNewConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User Id=sa;Password=PASWORD;Initial Catalog=heroesMarketPlace"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.heroesShareConnectionString"
      connectionString="Data Source=127.0.0.1,1433;User ID=sa;Password=PASWORD;Initial Catalog=heroesShare"
      providerName="System.Data.SqlClient" />
    <add name="ServiceCore.Properties.Settings.heroesWebConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=heroesLogin;Integrated Security=True" />
    <add name="ServiceCore.Properties.Settings.heroesLoginConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=heroesLogin;Integrated Security=True" />
    <add name="ServiceCore.Properties.Settings.heroesShopConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=heroesLogin;Integrated Security=True" />
    <add name="ServiceCore.Properties.Settings.heroesFriendshipConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=heroes;Integrated Security=True" />
    <add name="ServiceCore.Properties.Settings.NX_GROUPConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=NX_GROUP;Integrated Security=True" />
    <add name="ServiceCore.Properties.Settings.heroesAsyncConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=heroes;Integrated Security=True;TimeOut=60;Asynchronous Processing=True;MultipleActiveResultSets=True" />
    <add name="ServiceCore.Properties.Settings.HeroesExceptConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=heroesExcept;Integrated Security=True" />
    <add name="ServiceCore.Properties.Settings.HeroesWebStatConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=HeroesWebStat;Integrated Security=True" />
    <add name="ServiceCore.Properties.Settings.FraudDetectConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=FraudDetect;Integrated Security=True" />
  </connectionStrings>
  <heroes>
    <frontend tcpPort="27015" capacity="65536" pingpong="false" />
    <channelrelay tcpPort="27003" logFileName="ChannelProudNet.log">
    </channelrelay>
    <relay tcpPort="27005" logFileName="ProudNet.log">
      <udpPorts>
        <clear />
        <add start="27015" />
        <add start="27005" />
      </udpPorts>
    </relay>
    <pvprelay tcpPort="27006" logFileName="PvpProudNet.log">
      <udpPorts>
        <clear />
        <add start="27016" />
        <add start="27006" />
      </udpPorts>
    </pvprelay>
	<pingrelay tcpPort="27017" logFileName="PingProudNet.log">
      <udpPorts>
        <clear />
        <add start="27017" />
        <add start="27018" />
      </udpPorts>
    </pingrelay>
  </heroes>
  <npl.sso>
    <authenticator>
      <soap
   defaultTimeout="1000"
   longTimeout="3000"
   retryCount="3"
   useIP="true"
   domain="1.1.1.1.1.1.com" />

      <servers>
		<server host="auth00" ip="127.0.0.1" />
	  </servers>
    </authenticator>
  </npl.sso>
  <Group.Config>
    <GroupConfiguator>
      <Service Mode="Test"
               GameCode="17625116"
               isOverSea="true"
      isDataLogging="true"
               ConnectionTimeout="20"
               DataBase_WORK="server=1.1.1.1; uid=guild_service; pwd=1234; database=NX_Guild"
               DataBase_TEST="server=1.1.1.1,1433; uid=guild_service; pwd=1234;; database=NX_Guild;"
               DataBase_SERVICE="server=1.1.1.1,1433; uid=guild_service; pwd=1234;; database=NX_Guild;"
               DataBase_GuildMaster_WORK="server=1.1.1.1.; uid=guild_service; pwd=1234;; database=NX_GuildMaster"
               DataBase_GuildMaster_TEST="server=1.1.1.1.; uid=guild_service; pwd=1234;; database=NX_GuildMaster"
               DataBase_GuildMaster_SERVICE="server=1.1.1.1; uid=guild_service; pwd=1234;; database=NX_GuildMaster"
               />

      <!-- 
			Sevice Attribute Description
			Mode : Service(길드 Live DB 사용), Test(길드 Test DB 사용 ), Work(길드 Work DB 사용)
			GameCode : 게임코드
			isOverSea : 해외모드 여부 ( true , false )
			DataBase_WORK : 길드 Work DB
			DataBase_TEST : 길드 TEST DB
			DataBase_SERVICE : 길드 SERVICE DB
			
			!!! 하위는 해외에만 세팅

			DataBase_GuildMaster_WORK : 길드 Work DB
			DataBase_GuildMaster_TEST : 길드 Work DB
			DataBase_GuildMaster_WORK : 길드 Work DB
			
		//-->
    </GroupConfiguator>
  </Group.Config>


  <applicationSettings>
    <UnifiedNetwork.Properties.Settings>
      <setting name="ReportServiceListenPort" serializeAs="String">
        <value>27020</value>
      </setting>
      <setting name="LocationPortMin" serializeAs="String">
        <value>14400</value>
      </setting>
      <setting name="GameCode" serializeAs="String">
        <value>50393116</value>
      </setting>
      <setting name="ServerCode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PrintPerformanceInfo" serializeAs="String">
        <value>False</value>
      </setting>
    </UnifiedNetwork.Properties.Settings>
    <HeroesServerHost.Properties.Settings>
      <setting name="LocationServiceIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="LocationServicePort" serializeAs="String">
        <value>42</value>
      </setting>
      <setting name="ExecuteLocationService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExecuteReportService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExecuteExecutionService" serializeAs="String">
        <value>True</value>
      </setting>
    </HeroesServerHost.Properties.Settings>
    <ServiceCore.Properties.Settings>
      <setting name="AdminClientServicePort" serializeAs="String">
        <value>27011</value>
      </setting>
      <setting name="CafeAuthPort" serializeAs="String">
        <value>10032</value>
      </setting>
      <setting name="CafeAuthDomainSN" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="CafeAuthDomainString" serializeAs="String">
        <value>마비노기 영웅전 미지정 도메인</value>
      </setting>
      <setting name="CashShopPort" serializeAs="String">
        <value>6500</value>
      </setting>
      <setting name="CashShopServiceCode" serializeAs="String">
        <value>MHERO</value>
      </setting>
      <setting name="CashShopServerNumber" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="CashShopRefundlessBalance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NISMSGameCode" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="ChannelDistributionBound" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ChannelPossessionTimeDelay" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="ChannelListHighRecommend" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ChannelListLowRecommend" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EnableCheatingNoticeMail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PremiumPackageProductNo" serializeAs="String">
        <value>72449</value>
      </setting>
      <setting name="PassportImmigratorGameCode" serializeAs="String">
        <value>SVG028</value>
      </setting>
      <setting name="EnableDeveloperPassport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VersionMatchCRCSampleFile" serializeAs="String">
        <value>.\CRCSample.txt</value>
      </setting>
      <setting name="VersionMatchUpToDateFile" serializeAs="String">
        <value>.\UpToDateInfo.txt</value>
      </setting>
      <setting name="DSServicePort" serializeAs="String">
        <value>27018</value>
      </setting>
      <setting name="DSPort" serializeAs="String">
        <value>26000</value>
      </setting>
      <setting name="CafeAuthGameSN" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="DSGiantCount" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DSRedirectConsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MakeOrderIDWithRemoteIP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GuildChatWcfService" serializeAs="String">
        <value />
      </setting>
      <setting name="GRCRequestSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DSGiantRaidMachineCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DSNormalRaidMachineCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DSPvpMachineCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DSDevMachineCount" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TalkWcfService" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientDSServicePort" serializeAs="String">
        <value>28018</value>
      </setting>
      <setting name="DSIsolateNormalRaidMachineCount" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DSIsolateNormalQuest" serializeAs="String">
        <value />
      </setting>
      <setting name="DSGiantRaidMachineIPs" serializeAs="String">
        <value />
      </setting>
      <setting name="heroesBcpPath" serializeAs="String">
        <value>..\HeroesData\SQL</value>
      </setting>
      <setting name="heroesMaterialPath" serializeAs="String">
        <value>..\data\Material</value>
      </setting>
      <setting name="heroesXMLPath" serializeAs="String">
        <value>..\data\XML</value>
      </setting>
      <setting name="P2ServerAddress" serializeAs="String">
        <value>...</value>
      </setting>
      <setting name="AdminClientIPHeader" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="CafeAuthAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="CashShopIPAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="CheatingNoticeMailToAddr" serializeAs="String">
        <value>admin@sdsdsdsdsds.com</value>
      </setting>
      <setting name="LoginPermissions" serializeAs="String">
        <value>245</value>
      </setting>
      <setting name="LoginAgeMinInclusive" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PassportImmigratorIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="PlayfeedServerAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="PlayfeedServerPort" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="PlayfeedServiceCode" serializeAs="String">
        <value>SVG028</value>
      </setting>
      <setting name="PlayfeedLogType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlayfeedTxtDumpTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MMOChannelMapFilePath" serializeAs="String">
        <value>..\data\MapPartition</value>
      </setting>
      <setting name="DSExecPath" serializeAs="String">
        <value>..\..\..\Vindictus\Local Host Client\srcds.exe</value>
      </setting>
      <setting name="DSAuxParams" serializeAs="String">
        <value>-allowdebug -game -lang en-eu-x-gm</value>
      </setting>
      <setting name="MailServerAddress" serializeAs="String">
        <value>smtp.sssss.co.kr.1231</value>
      </setting>
      <setting name="heroesContentsDB3" serializeAs="String">
        <value>heroesContents.db3</value>
      </setting>
      <setting name="localizedTextDB3" serializeAs="String">
        <value>localizedText.db3</value>
      </setting>
      <setting name="NGM_Disable" serializeAs="String">
        <value>1</value>
      </setting>
    </ServiceCore.Properties.Settings>
    <Devcat.Core.Properties.Settings>
      <setting name="TcpClient2_InitCCU" serializeAs="String">
        <value>100</value>
      </setting>
    </Devcat.Core.Properties.Settings>
  </applicationSettings>
  <log4net>
  </log4net>
</configuration>