<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExecutionSupporterClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExecutionSupporterClient.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>27041</value>
            </setting>
            <setting name="ServerBin" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DSBin" serializeAs="String">
                <value />
            </setting>
        </ExecutionSupporterClient.Properties.Settings>
    </userSettings>
</configuration>