<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExecutionSupporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ExecutionSupporter.Properties.Settings.heroesSupportConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=heroesSupport;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <ExecutionSupporter.Properties.Settings>
            <setting name="s" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="LocationServicePort" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="AdminServiceAddr" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="AdminServicePort" serializeAs="String">
                <value>27011</value>
            </setting>
            <setting name="SupporterClientPort" serializeAs="String">
                <value>27041</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>Mabinogi: Heroes ko-KR</value>
            </setting>
            <setting name="ServerBin" serializeAs="String">
                <value />
            </setting>
            <setting name="DSBin" serializeAs="String">
                <value>Z:\Heroes\game\client</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>\Logs</value>
            </setting>
        </ExecutionSupporter.Properties.Settings>
    </userSettings>
</configuration>